*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:'Segoe UI', sans-serif;
    color:white;

    background:
    linear-gradient(
        180deg,
        #0f172a 0%,
        #172554 35%,
        #1e3a8a 70%,
        #111827 100%
    );
}

h1{
    font-size:3rem;
    letter-spacing:4px;
    color:#93c5fd;
    margin-bottom:10px;
}

h2{
    color:#e0f2fe;
    margin-bottom:25px;
    font-weight:400;
}

.mensaje{
    width:80%;
    max-width:650px;
    font-size:1.1rem;
    line-height:1.7;
    color:#dbeafe;
    margin-bottom:40px;
}

#btnPanico{
    width:190px;
    height:190px;
    border:none;
    border-radius:50%;
    cursor:pointer;

    background:linear-gradient(
        135deg,
        #ef4444,
        #dc2626
    );

    font-size:80px;
    color:white;

    box-shadow:
    0 0 20px rgba(239,68,68,.6),
    0 0 50px rgba(239,68,68,.3);

    transition:all .3s ease;
}

#btnPanico:hover{
    transform:scale(1.08);
}

#btnPanico:active{
    transform:scale(.95);
}

#btnPanico:disabled{
    background:linear-gradient(
        135deg,
        #22c55e,
        #16a34a
    );
}

.textoBoton{
    margin-top:20px;
    font-size:1.1rem;
    color:#bfdbfe;
}

#estado{
    margin-top:35px;
    max-width:650px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(8px);
    padding:20px;
    border-radius:20px;
    line-height:1.7;
    color:#f8fafc;
}